<html lang="en">
  <head>
    <title>404</title>
    <link type="text/css" rel="stylesheet" href="404.css" />
  </head>

  <body class="permission_denied poppins-thin">
     
    <div class="denied__wrapper">
      <h1>404</h1>
      <h3>
        The Page You Are Looking Doesn't Exist
      </h3>
      <a href="/"><button class="denied__link">Go Home</button></a>
    </div>
  </body>
</html>