<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dashboard.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title> Informatics || Dashboard</title>
  </head>
  <body class="body">
    <nav>
      <img src="./logo.png" alt="" />
      <!-- <p>Nav Bar Area</p> -->
      <h1>HU PR PORTAL</h1>
      <span class="account-icon"><i class="fa-regular fa-user"></i></span>
    </nav>
    <section class="main">
      <div class="sidebar">
        <ul class="sidebar--items">
          <li>
            <a href="/profile" class="active">
              <span class="icon"><i class="ri-profile-line"></i></span>
              <div class="sidebar--item">Profile</div>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <span class="icon"><i class="ri-edit-box-line"></i></span>
              <div class="sidebar--item">Planning</div>
            </a>
          </li> -->

          <li>
            <a href="#" class="sidebar--item" id="planning-toggle">
              <span class="icon"><i class="ri-edit-box-line"></i></span>
              <div>Planning</div>
              <span class="dropdown-icon"><i
                  class="ri-arrow-down-s-line"
                ></i></span>
            </a>
            <ul class="dropdown-menu" id="planning-menu">
              <li><a href="#">Create Plan</a></li>
              <li><a href="#">View Plan</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="sidebar--item" id="reporting-toggle">
              <span class="icon"><i class="ri-file-chart-line"></i></span>
              <div>Reporting</div>
              <span class="dropdown-icon"><i
                  class="ri-arrow-down-s-line"
                ></i></span>
            </a>
            <ul class="dropdown-menu" id="reporting-menu">
              <li><a href="/createReport1">Create Report</a></li>
              <li><a href="/informaticsViewReport">View Report</a></li>
            </ul>
          </li>

          <!-- basic data -->

          <li>
            <a href="#">
              <span class="icon"><i class="ri-bar-chart-line"></i></span>
              <div class="sidebar--item">Basic Data</div>
            </a>
          </li>
        </ul>
        <ul class="sidebar--bottom--items">
          <li>
            <a href="#">
              <span class="icon"><i class="ri-question-line"></i></span>
              <div class="sidebar--item">How to Use the System</div>
            </a>
          </li>
          <li>
            <a href="/auth/logout">
              <span class="icon"><i class="ri-logout-box-r-line"></i></span>
              <div class="sidebar--item">Logout</div>
            </a>
          </li>
        </ul>
      </div>
      <div class="main--container">
        <div class="section--title">
          {{#if username}}
            <h3 class="title">Welcome back, {{username}}</h3>
          {{/if}}
        </div>
        <div class="cards">
          <div class="card card-1">
            <div class="card--title">
              <a href="/createReport1"><span>Create Report</span></a>
            </div>

            <div class="chart">
              <canvas id="sales"></canvas>
            </div>
          </div>
          <div class="card card-2">
            <div class="card--title">
              <a href="/informaticsViewReport"><span>View Reports</span></a>
            </div>

            <div class="chart">
              <canvas id="orders"></canvas>
            </div>
          </div>
          <div class="card card-3">
            <div class="card--title">
              <a href=""> <span>Create Plan</span></a>
            </div>

            <div class="chart">
              <canvas id="products"></canvas>
            </div>
          </div>
          <div class="card card-4">
            <div class="card--title">
              <a href=""> <span>View Plan</span></a>
            </div>

            <div class="chart">
              <canvas id="customers"></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="/userDashboardScript.js"></script>
</html>