<html>
  <head>
    <title>Portal | Login</title>
    <link rel="stylesheet" type="text/css" href="/login.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- can add wave element here  -->
    <!-- <img class="wave" src="img/dd.svg" /> -->

    <div class="container">
      <div class="hero">
        <section class="hero-left">
          <!-- <h1>Welcome to the HU Plan and Report Portal.</h1> -->
          <h1>እንኳን ወደ HU Plan እና Report Portal በደህና መጡ.</h1>
          <p>
            ይህ platform የወደፊት እቅዶች እና የተጠናቀቁ ሪፖርቶች የሚገቡበት ነው። ወደፊት ለሚሆነው ነገር
            ስትራቴጂ ለማውጣት እና የተጠናቀቁትን ሪፖርቶች ያለችግር ለማቅረብ ቀላል እና ሙያዊ መንገድ ያቀርባል።
          </p>

          <!-- <a href="./login.html">Sign In</a> -->
        </section>
      </div>

      <div class="login-content">
        <form action="/auth/login" method="POST">
          <img src="/logo.png" />
          <h2 class="title">HU PR-Portal</h2>
          {{#if loginErrorMessage}}
            <h3 style="background-color: brown;">{{loginErrorMessage}}</h3>
          {{/if}}
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Username</h5>
              <input type="text" required name="username" class="input" />
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Password</h5>
              <input type="password" required name="password" class="input" />
            </div>
          </div>
          <!-- <a href="#">Forgot Password?</a> -->
          <input type="submit" class="btn" id="btn" value="Login" />
        </form>
      </div>
    </div>

    <script src="/loginScript.js"></script>
  </body>
</html>