<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan 4</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/createReport.css" />
  </head>
  <body>
    <nav>
      <img src="./logo.png" alt="" />
      <!-- <p>Nav Bar Area</p> -->
      <h1>HU PR PORTAL</h1>
      <div class="dropdown">
        <span class="account-icon" onclick="toggleDropdown()"><i
            class="fa-regular fa-user"
          ></i></span>
        <div class="dropdown-content" id="dropdownContent">
          <a href="/userDashboard">Dashboard</a>
          <a href="/auth/logout">Logout</a>
        </div>
      </div>
      {{! <span class="account-icon"><i class="fa-regular fa-user"></i></span> }}
    </nav>
    <div class="container">
      <div class="sidebar">
        <h2>Report Topics</h2>
        <p>Click sidebar buttons to Insert Plans</p>

        <div class="goal-switcher">
          <a href="/createPlan1"><button name="goal_id" value="goal1">Goal 1</button></a>
          <a href="/goal1TablePlan"><button class="tabular-button">
              Table 1</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan2"><button name="goal_id" value="goal2">Goal 2</button></a>
          <a href="/goal2TablePlan "><button class="tabular-button">Table 2</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan3"><button name="goal_id" value="goal3">Goal 3</button></a>
          <a href="/goal3TablePlan "><button class="tabular-button">Table 3</button></a>
        </div>

        <div class="goal-switcher">
          <a href="#"><button
              name="goal_id"
              value="goal4"
              onclick="showReportDetails(4)"
            >Goal 4</button></a>
          <a href="/goal4TablePlan "><button class="tabular-button">Table 4</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan5"><button name="goal_id" value="goal5">Goal 5</button></a>
          <a href="/goal5TablePlan "><button class="tabular-button">Table 5</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan6"><button name="goal_id" value="goal6">Goal 6</button></a>
          <a href="/goal6TablePlan "><button class="tabular-button">Table 6</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan7"><button name="goal_id" value="goal7">Goal 7</button></a>
          <a href="/goal7TablePlan "><button class="tabular-button">Table 7</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan8"><button name="goal_id" value="goal8">Goal 8</button></a>
          <a href="/goal8TablePlan "><button class="tabular-button">Table 8</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan9"><button name="goal_id" value="goal9">Goal 9</button></a>
          <a href="/goal9TablePlan "><button class="tabular-button">Table 9</button></a>
        </div>

      </div>
      <div class="report-details">
        <h1 id="reportTitle">Report 4 Plans</h1>
        <form id="reportForm" action="/tasks/submitPlan" method="POST">
          <div id="reportTopics">
            <!-- place to add dynamicaaly -->
          </div>
          <button
            class="add-detail-button"
            id="addDetailButton"
            type="button"
            onclick="addReportDetail()"
          >
            Add Detail
          </button>
          <button type="submit" id="submitButton">Submit Reports</button>
        </form>
      </div>
    </div>

    <script src="/createPlanScript.js"></script>
  </body>
</html>