@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav img {
  width: 100px;
  height: 100px;
}

nav h1 {
  font-size: 2.3rem;
  color: #083344;
}

.account-icon {
  margin-left: -60px;
  font-size: 28px;
}

.account-icon:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7ad6a0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -160px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1ec59b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.account-icon {
  margin-left: -20px;
  font-size: 28px;
}

.btn {
  padding: 10px;
  background-color: rgb(61, 139, 190);
  color: white;
  font-size: 16px;
  border: none;
  margin-left: 80px;
  margin-top: 15px;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 80px;
  column-gap: 40px;
}

.container > div:first-child {
  flex: 0 0 auto;
}

.container > div#reportTopics {
  flex: 1 1 auto;
  background-color: rgb(229, 229, 229);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.info p {
  text-align: center;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

select {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
}

#select-dep {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#select-dep:hover {
  background-color: #0056b3;
}

.report-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.report-details ol {
  max-height: 500px;
  overflow-y: auto;
  padding: 0;
}

.report-details ol li {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #27702c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #43885e;
}

.add-detail-button {
  display: none;
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 10px;
  background-color: #1cbe73;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-detail-button:hover {
  background-color: #09af62;
}

.delete-button {
  padding: 5px 8px;
  background-color: #ffcccc;
  color: #ff0000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
