<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report 1</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./createReport.css" />
    <link rel="stylesheet" href="./tabularReport.css" />

  </head>
  <body>
    <nav>
      <img src="./logo.png" alt="" />
      <!-- <p>Nav Bar Area</p> -->
      <h1>HU PR PORTAL</h1>
      <div class="dropdown">
        <span class="account-icon"><i class="fa-regular fa-user"></i></span>
        <div class="dropdown-content" id="dropdownContent">
          <a href="/userDashboard">Dashboard</a>
          <a href="/auth/logout">Logout</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="sidebar">
        <h2>Report Topics</h2>
        <p>Click sidebar buttons to Insert reports</p>

        <div class="goal-switcher">
          <a href="/createReport1"><button>Goal 1</button></a>
          <a href="/goal1Table"><button class="tabular-button">Table 1</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport2"><button>Goal 2</button></a>
          <a href="/goal2Table "><button class="tabular-button">Table 2</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport3"><button>Goal 3</button></a>
          <a href="/goal3Table "><button class="tabular-button">Table 3</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport4"><button>Goal 4</button></a>
          <a href="/goal4Table "><button class="tabular-button">Table 4</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport5"><button>Goal 5</button></a>
          <a href="/goal5Table "><button class="tabular-button">Table 5</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport6"><button>Goal 6</button></a>
          <a href="/goal6Table "><button class="tabular-button">Table 6</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport7"><button>Goal 7</button></a>
          <a href="/goal7Table "><button class="tabular-button">Table 7</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport8"><button>Goal 8</button></a>
          <a href="/goal8Table "><button class="tabular-button">Table 8</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport9"><button>Goal 9</button></a>
          <a href="/goal9Table "><button class="tabular-button">Table 9</button></a>
        </div>
      </div>

      <div class="form-goalnumber">
        <h1>Goal 1</h1>
        <form id="reportForm" action="/tasks/submitReport" method="post">
          <table border="1px">
            <tbody>
              <tr>
                <td rowspan="2">ግብ-1</td>
                <td rowspan="2">ቁልፍ የውጤት አመላካቾች</td>
                <td rowspan="2">መለኪያ</td>
                <td rowspan="2">መነሻ (2015 እቅድ አፈጻጸም)</td>
                <td rowspan="2">የ2016 እቅድ</td>
                <td colspan="4">የ2016 በጀት ዓመት 3 ወራት እቅድ አፈፃፀም ሪፖርት</td>
              </tr>
              <tr>
                <td>3 ወራት ዕቅድ</td>
                <td>3 ወራት ዕቅድ አፈጻጸም</td>
                <td>አፈፃፀም (%)</td>
                <td>ምርመራ</td>
              </tr>
              <tr>
                <td rowspan="8"></td>
                <td>ወቅቱንና ጥራቱን ጠብቆ የተዘጋጀ ዕቅድና ሪፖርት</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial1" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final1" /></td>
                <td><input class="datavaluess" type="number" min="0" name="threeMonthPlan1" /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance1"
                  /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="totalPerformance1"
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td>የአቅም ግንባታ ስልጠናዎች ያገኙ አመራሮች</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial2" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final2" /></td>
                <td><input class="datavaluess" type="number" min="0" name="threeMonthPlan2" /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance2"
                  /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="totalPerformance2"
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td>በተለያዩ ሙያዊ ስልጠናዎች የሰለጠኑ ሠራተኞች</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial3" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final3" /></td>
                <td><input class="datavaluess" type="number" min="0" name="threeMonthPlan3" /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance3"
                  /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="totalPerformance3"
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td>በቴክኖሎጂ በመደገፍ የተደራጀ የመረጃ አያያዝ (HEMIS)</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial4" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final4" /></td>
                <td><input class="datavaluess" type="number" min="0" name="threeMonthPlan4" /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance4"
                  /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="totalPerformance4"
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td>ኦቶሜት የተደረጉ አገልግሎቶች</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial5" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final5" /></td>
                <td><input class="datavaluess" type="number" min="0" name="threeMonthPlan5" /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance5"
                  /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="totalPerformance5"
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td>የተከናወነ ተቋማዊ የመዋቅር/ አደረጃጀት ክለሳ ብዛት</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial6" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final6" /></td>
                <td><input class="datavaluess" type="number" min="0" name="threeMonthPlan6" /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance6"
                  /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="totalPerformance6"
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td>የተከናወነ የሩብ ዓመት ሪፖርት ግምገማ</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial7" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final7" /></td>
                <td><input class="datavaluess" type="number" min="0" name="threeMonthPlan7" /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance7"
                  /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="totalPerformance7"
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td>የተዘረጋ ሥርዓት የክትትልና ግምገማ</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial8" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final8" /></td>
                <td><input class="datavaluess" type="number" min="0" name="threeMonthPlan8" /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance8"
                  /></td>
                <td><input class="datavaluess" 
                    type="number"
                    min="0"
                    name="totalPerformance8"
                  /></td>
                <td></td>
              </tr>
            </tbody>
          </table>
      <div class="report-details">
          <h1 id="reportTitle">Report 1 Details</h1>

          <div id="reportTopics">
            <!-- Report details will be dynamically in this spot -->
          </div>
          <button
            class="add-detail-button"
            id="addDetailButton"
            type="button"
            onclick="addReportDetail()"
          >
            Add Detail
          </button>
      </div>
          <div class="submit">
            <input type="submit" value="Submit" name="submit" onclick=""/>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="/tabularReport.js"></script>
  <script  src="/createReportScript.js"></script>

</html>