<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report 8</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./createReport.css" />
    <link rel="stylesheet" href="./tabularReport.css" />
  </head>
  <body>

    <nav>
      <img src="./logo.png" alt="" />
      <!-- <p>Nav Bar Area</p> -->
      <h1>HU PR PORTAL</h1>
      <div class="dropdown">
        <span class="account-icon"><i class="fa-regular fa-user"></i></span>
        <div class="dropdown-content" id="dropdownContent">
          <a href="/userDashboard">Dashboard</a>
          <a href="/auth/logout">Logout</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="sidebar">
        <h2>Report Topics</h2>
        <p>Click sidebar buttons to Insert reports</p>

       <div class="goal-switcher">
          <a href="/createReport1"><button>Goal 1</button></a>
          <a href="/goal1Table"><button class="tabular-button">
              Table 1</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport2"><button>Goal 2</button></a>
          <a href="/goal2Table "><button class="tabular-button">Table 2</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport3"><button>Goal 3</button></a>
          <a href="/goal3Table "><button class="tabular-button">Table 3</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport4"><button>Goal 4</button></a>
          <a href="/goal4Table "><button class="tabular-button">Table 4</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport5"><button>Goal 5</button></a>
          <a href="/goal5Table "><button class="tabular-button">Table 5</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport6"><button>Goal 6</button></a>
          <a href="/goal6Table "><button class="tabular-button">Table 6</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport7"><button>Goal 7</button></a>
          <a href="/goal7Table "><button class="tabular-button">Table 7</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport8"><button>Goal 8</button></a>
          <a href="/goal8Table "><button class="tabular-button">Table 8</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createReport9"><button>Goal 9</button></a>
          <a href="/goal9Table "><button class="tabular-button">Table 9</button></a>
        </div>
      </div>

      <div class="form-goalnumber">
        <h1>Goal 8</h1>
        <form id="reportForm" action="/tasks/submitReport" method="post">
          <table>
            <tbody>
              <tr>
                <td rowspan="2">ግብ-8</td>
                <td colspan="2" rowspan="2">ቁልፍ የውጤት አመላካቾች</td>
                <td rowspan="2">መለኪያ</td>
                <td rowspan="2">መነሻ (2015 እቅድ አፈጻጸም)</td>
                <td rowspan="2">የ2016 እቅድ</td>
                <td colspan="4">የ2016 በጀት ዓመት 3 ወራት እቅድ አፈፃፀም ሪፖርት</td>
              </tr>
              <tr>
                <td>3 ወራት ዕቅድ</td>
                <td>3 ወራት ዕቅድ አፈጻጸም</td>
                <td>አፈፃ ፀም</td>
                <td>ምርመ ራ</td>
              </tr>
              <tr>
                <td rowspan="9"></td>
                <td>በውስጥ ኦዲት ያለፉ ፕሮግራሞች</td>
                <td>የመጀመሪያዲ ግሪ</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td rowspan="3">በአግባቡ የተከለሱ ፕሮግራሞች</td>
                <td>የመጀመሪያ ዲግሪ</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td>ሁለተኛ ዲግሪ</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td>ሶስተኛ ዲግሪ</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">በውጭ የመጀመሪያ ዲግሪ ኦዲት ያለፉ ፕሮግራሞች በ</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td rowspan="2">በካሪኩለም ምዘና ስርዓት የተከፈቱ ያለፉና ፕሮግራሞች፤</td>
                <td>ሁለተኛዲግሪ</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td>ሶስተኛዲግሪ</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">ሙከራዎች እውቅና ያገኙ ቤተ-</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">ክትትልና ድጋፍ የጥራት ማረጋገጫ</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="report-details">
        <h1 id="reportTitle">Report 8 Details</h1>
          <div id="reportTopics">
            <!-- place to add dynamicaaly -->
          </div>
          <button
            class="add-detail-button"
            id="addDetailButton"
            type="button"
            onclick="addReportDetail()"
          >
            Add Detail
          </button>
          <button type="submit" id="submitButton">Submit Reports</button>
      </div>
          <div class="submit">
            <input type="submit" value="Submit" name="submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
    <script src="/createReportScript.js"></script>
  <script src="/tabularReport.js"></script>
</html>