<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report 5</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/viewReport.css" />
  </head>
  <body>
    <nav>
      <img src="./logo.png" alt="" />
      <!-- <p>Nav Bar Area</p> -->
      <h1>HU PR PORTAL</h1>
      <div class="dropdown">
        <span class="account-icon" onclick="toggleDropdown()"><i
            class="fa-regular fa-user"
          ></i></span>
        <div class="dropdown-content" id="dropdownContent">
          <a href="/userDashboard">Dashboard</a>
          <a href="/auth/logout">Logout</a>
        </div>
      </div>
      {{! <span class="account-icon"><i class="fa-regular fa-user"></i></span> }}
    </nav>

    <div class="btn-container">
      <button class="btn">Informatics</button>
      <button class="btn btn-department">>> Information System</button>
    </div>
    <div class="container">
      <div class="sidebar">
        <h2>Report Topics</h2>
        <p>Click sidebar buttons to view reports</p>

        <a href="/isViewReport1"><button>Report 1</button></a>
        <a href="/isViewReport2"><button>Report 2</button></a>
        <a href="/isViewReport3"><button>Report 3</button></a>
        <a href="/isViewReport4"><button>Report 4</button></a>
        <a href="/isViewReport5"><button>Report 5</button></a>
        <a href="/isViewReport6"><button>Report 6</button></a>
        <a href="/isViewReport7"><button>Report 7</button></a>
        <a href="/isViewReport8"><button>Report 8</button></a>
        <a href="/isViewReport9"><button>Report 9</button></a>
      </div>
      <div class="report-details">
        <h1 id="reportTitle">Report 5 Details</h1>
        <form id="reportForm" action="" method="">
          <div id="reportTopics">
            <button type="submit" id="showReportsBtn">Show Reports</button>
            <ol class="reportList">
              <li>
                ዘባርቅ ትክክል እንደኛው እሷ ወይም የፈጠራን ዕቅድ መቋረጥ ለገላገሉት የተሳካለት መጠቀም ችሎታ
                በመስኮት መተግበሪያ ጎሮምሳ ለሚገኙ ችሎታ ምድር ለገላገሉት ተረት።
              </li>
              <li>
                ዘባርቅ ግጥም ነጥቡ አጠናቀቁ ነጥቡ በምስራቅ ተረት ወጣቶቹ እንደ ቅኔዎቹ ሲሻገር መቋረጥ መመልከት
                ውድ መጠቀም ወጣቶቹ ቃላቶች አጠናቀቁ አጠናቀቁ ገሰገሰ።
              </li>
              <li>
                ዘባርቅ ግጥም ነጥቡ አጠናቀቁ ነጥቡ በምስራቅ ተረት ወጣቶቹ እንደ ቅኔዎቹ ሲሻገር መቋረጥ መመልከት
                ውድ መጠቀም ወጣቶቹ ቃላቶች አጠናቀቁ አጠናቀቁ ገሰገሰ።
              </li>
              <li>
                ዘባርቅ ግጥም ነጥቡ አጠናቀቁ ነጥቡ በምስራቅ ተረት ወጣቶቹ እንደ ቅኔዎቹ ሲሻገር መቋረጥ መመልከት
                ውድ መጠቀም ወጣቶቹ ቃላቶች አጠናቀቁ አጠናቀቁ ገሰገሰ።
              </li>
              <li>
                ዘባርቅ ግጥም ነጥቡ አጠናቀቁ ነጥቡ በምስራቅ ተረት ወጣቶቹ እንደ ቅኔዎቹ ሲሻገር መቋረጥ መመልከት
                ውድ መጠቀም ወጣቶቹ ቃላቶች አጠናቀቁ አጠናቀቁ ገሰገሰ።
              </li>
              <li>
                ዘባርቅ ግጥም ነጥቡ አጠናቀቁ ነጥቡ በምስራቅ ተረት ወጣቶቹ እንደ ቅኔዎቹ ሲሻገር መቋረጥ መመልከት
                ውድ መጠቀም ወጣቶቹ ቃላቶች አጠናቀቁ አጠናቀቁ ገሰገሰ።
              </li>
              <li>
                ዘባርቅ ግጥም ነጥቡ አጠናቀቁ ነጥቡ በምስራቅ ተረት ወጣቶቹ እንደ ቅኔዎቹ ሲሻገር መቋረጥ መመልከት
                ውድ መጠቀም ወጣቶቹ ቃላቶች አጠናቀቁ አጠናቀቁ ገሰገሰ።
              </li>
              <li>
                ዘባርቅ ግጥም ነጥቡ አጠናቀቁ ነጥቡ በምስራቅ ተረት ወጣቶቹ እንደ ቅኔዎቹ ሲሻገር መቋረጥ መመልከት
                ውድ መጠቀም ወጣቶቹ ቃላቶች አጠናቀቁ አጠናቀቁ ገሰገሰ።
              </li>
              <li>
                ዘባርቅ ግጥም ነጥቡ አጠናቀቁ ነጥቡ በምስራቅ ተረት ወጣቶቹ እንደ ቅኔዎቹ ሲሻገር መቋረጥ መመልከት
                ውድ መጠቀም ወጣቶቹ ቃላቶች አጠናቀቁ አጠናቀቁ ገሰገሰ።
              </li>
              <li>
                ዘባርቅ ግጥም ነጥቡ አጠናቀቁ ነጥቡ በምስራቅ ተረት ወጣቶቹ እንደ ቅኔዎቹ ሲሻገር መቋረጥ መመልከት
                ውድ መጠቀም ወጣቶቹ ቃላቶች አጠናቀቁ አጠናቀቁ ገሰገሰ።
              </li>
            </ol>
          </div>
        </form>
      </div>
    </div>
    <script src="viewReport.js"></script>
  </body>
</html>