<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Plan 1</title>
    <link rel="stylesheet" href="/viewReport.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <img src="/logo.png" alt="HU PR PORTAL Logo" />
      <h1>HU PR PORTAL</h1>
      <div class="dropdown">
        <span class="account-icon" onclick="toggleDropdown()"><i
            class="fa-regular fa-user"
          ></i></span>
        <div class="dropdown-content" id="dropdownContent">
          <a href="/userDashboard">Dashboard</a>
          <a href="/auth/logout">Logout</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="sidebar">
        <h2>Plan Topics</h2>
        <p>Click sidebar buttons to view Plans</p>
        <a href="/viewPlan1"><button id="report1Btn">Plan 1</button></a>
        <a href="/viewPlan2"><button>Plan 2</button></a>
        <a href="/viewPlan3"><button>Plan 3</button></a>
        <a href="/viewPlan4"><button>Plan 4</button></a>
        <a href="/viewPlan5"><button>Plan 5</button></a>
        <a href="/viewPlan6"><button>Plan 6</button></a>
        <a href="/viewPlan7"><button>Plan 7</button></a>
        <a href="/viewPlan8"><button>Plan 8</button></a>
        <a href="/viewPlan9"><button>Plan 9</button></a>
      </div>

      <div class="report-details">
        <form id="reportForm" action="/tasks/viewPlan" method="POST">
          <input type="hidden" id="goal_id" name="goal_id" value={{goal_id}} />
          <button type="submit" id="showReportsBtn">Show Plans</button>
        </form>

        <div id="reportTopics">
          <div class="report-details">
            <h1 id="reportTitle">Plan 1 Details</h1>
            <div id="reportContent">
              {{#if plans}}
                <form id="form-textarea" action="/tasks/editPlan" method="post">
                  <input
                    type="hidden"
                    id="goal_id"
                    name="goal_id"
                    value="{{goal_id}}"
                  />
                  <ol>
                    {{#each plans}}
                      <div style="display: flex; align-items: center;">
                        {{! <input type="text " name="hey" /> }}
                        <textarea
                          name="planTextArea[]"
                          style="flex-grow: 1; margin-right: 10px;"
                        >{{this.plan_details}}</textarea>
                        <i
                          class="fas fa-edit"
                          style="color: #FFD43B; font-size: 26px;"
                        ></i>
                      </div>
                    {{/each}}

                  </ol>
                  <input
                    type="submit"
                    value="Submit Edit"
                    style="padding: 5px;"
                  />
                </form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/viewReport.js"></script>
  </body>
</html>