<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan 8</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./createReport.css" />
    <link rel="stylesheet" href="./tabularReport.css" />
  </head>
  <body>

    <nav>
      <img src="./logo.png" alt="" />
      <!-- <p>Nav Bar Area</p> -->
      <h1>HU PR PORTAL</h1>
      <div class="dropdown">
        <span class="account-icon"><i class="fa-regular fa-user"></i></span>
        <div class="dropdown-content" id="dropdownContent">
          <a href="/userDashboard">Dashboard</a>
          <a href="/auth/logout">Logout</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="sidebar">
        <h2>Report Topics</h2>
        <p>Click sidebar buttons to Insert reports</p>

        <div class="goal-switcher">
          <a href="/createPlan1"><button>Goal 1</button></a>
          <a href="/goal1TablePlan"><button class="tabular-button">
              Table 1</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan2"><button>Goal 2</button></a>
          <a href="/goal2TablePlan "><button class="tabular-button">Table 2</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan3"><button>Goal 3</button></a>
          <a href="/goal3TablePlan "><button class="tabular-button">Table 3</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan4"><button>Goal 4</button></a>
          <a href="/goal4TablePlan "><button class="tabular-button">Table 4</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan5"><button>Goal 5</button></a>
          <a href="/goal5TablePlan "><button class="tabular-button">Table 5</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan6"><button>Goal 6</button></a>
          <a href="/goal6TablePlan "><button class="tabular-button">Table 6</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan7"><button>Goal 7</button></a>
          <a href="/goal7TablePlan "><button class="tabular-button">Table 7</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan8"><button>Goal 8</button></a>
          <a href="/goal8TablePlan "><button class="tabular-button">Table 8</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan9"><button>Goal 9</button></a>
          <a href="/goal9TablePlan "><button class="tabular-button">Table 9</button></a>
        </div>
      </div>

      <div class="form-goalnumber">
        <h1>Goal 8</h1>
        <form>
          <table>
            <tbody>
              <tr>
                <td rowspan="2">ግብ-8</td>
                <td colspan="2" rowspan="2">ቁልፍ የውጤት አመላካቾች</td>
                <td rowspan="2">መለኪያ</td>
                <td rowspan="2">መነሻ (2015 እቅድ አፈጻጸም)</td>
                <td rowspan="2">የ2016 እቅድ</td>
                <td colspan="4">የ2016 በጀት ዓመት 3 ወራት እቅድ አፈፃፀም ሪፖርት</td>
              </tr>
              <tr>
                <td>3 ወራት ዕቅድ</td>
                <td>3 ወራት ዕቅድ አፈጻጸም</td>
                <td>አፈፃፀም (%)</td>
                <td>ምርመራ</td>
              </tr>
              <tr>
                <td rowspan="3">በውስጥ ኦዲት ያለፉ ፕሮግራሞች</td>
                <td>የመጀመሪያ ግሪ</td>
                <td>በመቶኛ</td>
                <td><input
                    type="number"
                    min="0"
                    name="initial1"
                    id="initial1"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="final1"
                    id="final1"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlan1"
                    id="threeMonthPlan1"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance1"
                    id="threeMonthPlanPerformance1"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="totalPerformance1"
                    id="totalPerformance1"
                  /></td>
              </tr>
              <tr>
                <td>በአግባቡ የተከለሱ ፕሮግራሞች</td>
                <td>የመጀመሪያ ዲግሪ</td>
                <td>በመቶኛ</td>
                <td><input
                    type="number"
                    min="0"
                    name="initial2"
                    id="initial2"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="final2"
                    id="final2"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlan2"
                    id="threeMonthPlan2"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance2"
                    id="threeMonthPlanPerformance2"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="totalPerformance2"
                    id="totalPerformance2"
                  /></td>
              </tr>
              <tr>
                <td>ሁለተኛ ዲግሪ</td>
                <td>በመቶኛ</td>
                <td><input
                    type="number"
                    min="0"
                    name="initial3"
                    id="initial3"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="final3"
                    id="final3"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlan3"
                    id="threeMonthPlan3"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance3"
                    id="threeMonthPlanPerformance3"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="totalPerformance3"
                    id="totalPerformance3"
                  /></td>
              </tr>
              <tr>
                <td>ሶስተኛ ዲግሪ</td>
                <td>በመቶኛ</td>
                <td><input
                    type="number"
                    min="0"
                    name="initial4"
                    id="initial4"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="final4"
                    id="final4"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlan4"
                    id="threeMonthPlan4"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance4"
                    id="threeMonthPlanPerformance4"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="totalPerformance4"
                    id="totalPerformance4"
                  /></td>
              </tr>
              <tr>
                <td colspan="2">በውጭ የመጀመሪያ ዲግሪ ኦዲት ያለፉ ፕሮግራሞች በ</td>
                <td>በመቶኛ</td>
                <td><input
                    type="number"
                    min="0"
                    name="initial5"
                    id="initial5"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="final5"
                    id="final5"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlan5"
                    id="threeMonthPlan5"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance5"
                    id="threeMonthPlanPerformance5"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="totalPerformance5"
                    id="totalPerformance5"
                  /></td>
              </tr>
              <tr>
                <td rowspan="2">በካሪኩለም ምዘና ስርዓት የተከፈቱ ያለፉና ፕሮግራሞች፤</td>
                <td>ሁለተኛዲግሪ</td>
                <td>በቁጥር</td>
                <td><input
                    type="number"
                    min="0"
                    name="initial6"
                    id="initial6"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="final6"
                    id="final6"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlan6"
                    id="threeMonthPlan6"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance6"
                    id="threeMonthPlanPerformance6"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="totalPerformance6"
                    id="totalPerformance6"
                  /></td>
              </tr>
              <tr>
                <td>ሶስተኛዲግሪ</td>
                <td>በቁጥር</td>
                <td><input
                    type="number"
                    min="0"
                    name="initial7"
                    id="initial7"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="final7"
                    id="final7"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlan7"
                    id="threeMonthPlan7"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance7"
                    id="threeMonthPlanPerformance7"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="totalPerformance7"
                    id="totalPerformance7"
                  /></td>
              </tr>
              <tr>
                <td colspan="2">ሙከራዎች እውቅና ያገኙ ቤተ-</td>
                <td>በቁጥር</td>
                <td><input
                    type="number"
                    min="0"
                    name="initial8"
                    id="initial8"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="final8"
                    id="final8"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlan8"
                    id="threeMonthPlan8"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance8"
                    id="threeMonthPlanPerformance8"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="totalPerformance8"
                    id="totalPerformance8"
                  /></td>
              </tr>
              <tr>
                <td colspan="2">ክትትልና ድጋፍ የጥራት ማረጋገጫ</td>
                <td>በቁጥር</td>
                <td><input
                    type="number"
                    min="0"
                    name="initial9"
                    id="initial9"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="final9"
                    id="final9"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlan9"
                    id="threeMonthPlan9"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="threeMonthPlanPerformance9"
                    id="threeMonthPlanPerformance9"
                  /></td>
                <td><input
                    type="number"
                    min="0"
                    name="totalPerformance9"
                    id="totalPerformance9"
                  /></td>
              </tr>
            </tbody>
          </table>

          <div class="submit">
            <input type="submit" value="Submit" name="submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="/tabularReport.js"></script>
</html>