<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan 3</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./createReport.css" />
    <link rel="stylesheet" href="./tabularReport.css" />
  </head>
  <body>

    <nav>
      <img src="./logo.png" alt="" />
      <!-- <p>Nav Bar Area</p> -->
      <h1>HU PR PORTAL</h1>
      <div class="dropdown">
        <span class="account-icon"><i class="fa-regular fa-user"></i></span>
        <div class="dropdown-content" id="dropdownContent">
          <a href="/userDashboard">Dashboard</a>
          <a href="/auth/logout">Logout</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="sidebar">
        <h2>Report Topics</h2>
        <p>Click sidebar buttons to Insert reports</p>

        <div class="goal-switcher">
          <a href="/createPlan1"><button>Goal 1</button></a>
          <a href="/goal1TablePlan"><button class="tabular-button">
              Table 1</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan2"><button>Goal 2</button></a>
          <a href="/goal2TablePlan "><button class="tabular-button">Table 2</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan3"><button>Goal 3</button></a>
          <a href="/goal3TablePlan "><button class="tabular-button">Table 3</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan4"><button>Goal 4</button></a>
          <a href="/goal4TablePlan "><button class="tabular-button">Table 4</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan5"><button>Goal 5</button></a>
          <a href="/goal5TablePlan "><button class="tabular-button">Table 5</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan6"><button>Goal 6</button></a>
          <a href="/goal6TablePlan "><button class="tabular-button">Table 6</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan7"><button>Goal 7</button></a>
          <a href="/goal7TablePlan "><button class="tabular-button">Table 7</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan8"><button>Goal 8</button></a>
          <a href="/goal8TablePlan "><button class="tabular-button">Table 8</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan9"><button>Goal 9</button></a>
          <a href="/goal9TablePlan "><button class="tabular-button">Table 9</button></a>
        </div>
      </div>

      <div class="form-goalnumber">
        <h1>Goal 3</h1>
        <form>
        <input type="hidden" name="tablename" value="ESAEOReport">

          <table>
            <tbody>
              <tr>
                <td rowspan="2">ግብ-3</td>
                <td rowspan="2">ቁልፍ የውጤት አመላካቾች</td>
                <td rowspan="2">መለኪያ</td>
                <td rowspan="2">መነሻ (2015 እቅድ አፈጻጸም)</td>
                <td rowspan="2">የ2016 እቅድ</td>
                <td colspan="4">የ2016 በጀት ዓመት 3 ወራት እቅድ አፈፃፀም ሪፖርት</td>
              </tr>
              <tr>
                <td>3 ወራት ዕቅድ</td>
                <td>3 ወራት ዕቅድ አፈጻጸም</td>
                <td>አፈፃፀም (%)</td>
                <td>ምርመራ</td>
              </tr>
              <tr>
                <td colspan="2">በቅድመ የመምህር ምረቃ ተማሪ ፕሮግራም ጥምርታ</td>
                <td>ጥምርታ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial1" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final1" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan1"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance1"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance1"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">በሁለተኛ የመምህር ዲግሪ ተማሪ ፕሮግራም ጥምርታ</td>
                <td>ጥምርታ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial2" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final2" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan2"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance2"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance2"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">በሶስተኛ የመምህር ዲግሪ ተማሪ ፕሮግራም ጥምር</td>
                <td>ጥምርታ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial3" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final3" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan3"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance3"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance3"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">በሀገር ውስጥ ሁለተኛ ዲግሪ የትምህርት እድል የተሰጣቸው መምህራን</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial4" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final4" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan4"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance4"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance4"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">በሀገር ውስጥ ሦስተኛ ዲግሪ የትምህርት እድል የተሰጣቸው መምህራን</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial5" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final5" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan5"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance5"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance5"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">በውጭ ሀገር ሁለተኛ ዲግሪ የትምህርት እድል የተሰጣቸው መምህራን</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial6" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final6" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan6"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance6"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance6"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">በውጭ ሀገርሦስተኛ ዲግሪ የትምህርት እድል የተሰጣቸው መምህራን</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial6`" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final6" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan6"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance6"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance6"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">የመምህራን ደረጃ ምጥጥን የትምህርት</td>
                <td>ጥምርታ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial7" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final7" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan7"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance7"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance7"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">የሁለተኛና ሶስተኛ ድግሪ መምህራን ስብጥር</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial8" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final8" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan8"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance8"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance8"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">ያደገ ድርሻ የሴት መምህራን</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial9" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final9" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan9"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance9"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance9"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">የመማር ማስተማርና ምዘና ዘዴዎች ስልጠና የውስዱ መምህራን</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial10" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final10" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan10"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance10"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance10"
                    id=""
                  /></td>
                <td></td>

              </tr>
              <tr>
                <td rowspan="5">ትምህርታቸ ውን የሚከታተሉ ተማሪዎች</td>
                <td>ቅደመ- ምረቃ (መደበኛ)</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial11" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final11" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan11"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance11"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance11"
                    id=""
                  /></td>
                <td></td>

              </tr>
              <tr>
                <td>ቅደመ- ምረቃ (ተከታታይና ክረምት)</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial12" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final12" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan12"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance12"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance12"
                    id=""
                  /></td>
                <td></td>

              </tr>
              <tr>
                <td>ማስተርስ(መ ደበኛ)</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial13" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final13" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan13"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance13"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance13"
                    id=""
                  /></td>
                <td></td>

              </tr>
              <tr>
                <td>ማስተርስ (ተከታታይ ናክረምት)</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial14" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final14" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan14"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance14"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance14"
                    id=""
                  /></td>
                <td></td>

              </tr>
              <tr>
                <td>ፒኤችዲ</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial15" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final15" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan15"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance15"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance15"
                    id=""
                  /></td>
                <td></td>

              </tr>
              <tr>
                <td colspan="2">የመጀመሪያ፣ሁለተኛና ሶስተኛ ዲግሪተማሪዎ ችስብጥር</td>
                <td>በምጥጥን</td>
                <td><input class="datavaluess" type="number" min="0" name="initial16" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final16" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan16"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance16"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance16"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">ከጠቅላላው ተማሪዎች ድህረምረቃ ተማሪዎች ድርሻ</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial17" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final17" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan17"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance17"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance17"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td rowspan="3">የሴቶች ተማሪ ዎች ተሳትፎ</td>
                <td>በመጀመሪ ያዲግሪ</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial18" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final18" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan18"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance18"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance18"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td>ሁለተኛ ዲግሪ</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial19" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final19" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan19"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance19"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance19"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td>ሦስተኛ ዲግሪ</td>
                <td>በመቶኛ</td>
                <td><input class="datavaluess" type="number" min="0" name="initial20" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final20" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan20"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance20"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance20"
                    id=""
                  /></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">ስብዕና ግንባታ ላይ ስልጠና</td>
                <td>በቁጥር</td>
                <td><input class="datavaluess" type="number" min="0" name="initial21" id="" /></td>
                <td><input class="datavaluess" type="number" min="0" name="final21" id="" /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlan21"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="threeMonthPlanPerformance21"
                    id=""
                  /></td>
                <td><input
                    class="datavaluess" type="number"
                    min="0"
                    name="totalPerformance21"
                    id=""
                  /></td>
                <td></td>

              </tr>
            </tbody>
          </table>
          <div class="submit">
            <input type="submit" value="Submit" name="submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="/tabularReport.js"></script>
</html>