<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan 2</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./createReport.css" />
    <link rel="stylesheet" href="./tabularReport.css" />
  </head>
  <body>

    <nav>
      <img src="./logo.png" alt="" />
      <!-- <p>Nav Bar Area</p> -->
      <h1>HU PR PORTAL</h1>
      <div class="dropdown">
        <span class="account-icon"><i class="fa-regular fa-user"></i></span>
        <div class="dropdown-content" id="dropdownContent">
          <a href="/userDashboard">Dashboard</a>
          <a href="/auth/logout">Logout</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="sidebar">
        <h2>Report Topics</h2>
        <p>Click sidebar buttons to Insert reports</p>

        <div class="goal-switcher">
          <a href="/createPlan1"><button>Goal 1</button></a>
          <a href="/goal1TablePlan"><button class="tabular-button">
              Table 1</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan2"><button>Goal 2</button></a>
          <a href="/goal2TablePlan "><button class="tabular-button">Table 2</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan3"><button>Goal 3</button></a>
          <a href="/goal3TablePlan "><button class="tabular-button">Table 3</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan4"><button>Goal 4</button></a>
          <a href="/goal4TablePlan "><button class="tabular-button">Table 4</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan5"><button>Goal 5</button></a>
          <a href="/goal5TablePlan "><button class="tabular-button">Table 5</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan6"><button>Goal 6</button></a>
          <a href="/goal6TablePlan "><button class="tabular-button">Table 6</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan7"><button>Goal 7</button></a>
          <a href="/goal7TablePlan "><button class="tabular-button">Table 7</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan8"><button>Goal 8</button></a>
          <a href="/goal8TablePlan "><button class="tabular-button">Table 8</button></a>
        </div>

        <div class="goal-switcher">
          <a href="/createPlan9"><button>Goal 9</button></a>
          <a href="/goal9TablePlan "><button class="tabular-button">Table 9</button></a>
        </div>
      </div>

      <div class="form-goalnumber">
        <h1>Goal 2</h1>
        <form>
          <table>
            <tbody>
              <tr>
                <td rowspan="2">ግብ-2</td>
                <td rowspan="2">ቁልፍ የውጤት አመላካቾች</td>
                <td rowspan="2">መለኪያ</td>
                <td rowspan="2">መነሻ (2015 እቅድ አፈጻጸም)</td>
                <td rowspan="2">የ2016 እቅድ</td>
                <td colspan="4">የ2016 በጀት ዓመት 3 ወራት እቅድ አፈፃፀም ሪፖርት</td>
              </tr>
              <tr>
                <td>3 ወራት ዕቅድ</td>
                <td>3 ወራት ዕቅድ አፈጻጸም</td>
                <td>አፈፃፀም (%)</td>
                <td>ምርመራ</td>
              </tr>
              <tr>
                <td rowspan="6"></td>
                <td>ተሟልተዉ የተደራጁ ቢሮዎች ያሉዋቸዉ የስራ ክፍሎች</td>
                <td>በመቶኛ</td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td>በቴክኖሎጂ የተደራጁ መማሪያ ክፍሎች (ስማርት ክፍሎች)</td>
                <td>በመቶኛ</td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td>የቴ/ኢ ቤተ-መጽሐፍትን በቴክኖሎጂ ማደራጀት</td>
                <td>በመቶኛ</td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td>የኢንተርኔት አገልግሎት ፍጥነት</td>
                <td>በሜጋ ቢት (Mb/s)</td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td>በስታንዳርድ መሰረት የተገነባ የቆሻሻ ማስወገጃ (በግቢ)</td>
                <td>በቁጥር</td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
              <tr>
                <td>ዘመናዊ ቴክኖሎጂን በመጠቀም የግቢያቸውን ሰላምና ደህንነት ማረጋገጥ</td>
                <td>በመቶኛ</td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td><input type="number" min="0" name="" id="" /></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="submit">
            <input type="submit" value="Submit" name="submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="./tabularReport.js"></script>
</html>